<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inmate Lookup</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="lookup-wrapper">
        <div class="lookup-container">
            <h1>Inmate Lookup</h1>
            <div class="search-by-id">
                <label for="prisoner-id">Search by Prisoner ID</label>
                <input type="text" id="prisoner-id" placeholder="Enter Prisoner ID">
                <button type="submit" class="search-button">🔍</button>
            </div>
            <div class="search-by-name">
                <p>Search by Name</p>
                <input type="text" placeholder="Last">
                <input type="text" placeholder="First">
                <input type="text" placeholder="Middle">
                <input type="text" placeholder="Date of Birth (Month/Day/Year)">
                <button type="submit" class="search-button">Search</button>
            </div>
        </div>
    </div>
</body>

</html>