{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Inmate - City Jail Data Repository</title>
    <link rel="stylesheet" href="{% static 'coreapp/add_inmate.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="add-inmate-wrapper">
        <div class="add-inmate-container">
            <h1>Add Inmate</h1>
            <form class="add-inmate-form">
                <label for="Criminal ID">Criminal ID:</label>
                <input type="text" id="criminal_id" placeholder="00000">

                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" placeholder="Suggestion">

                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" placeholder="Suggestion">

                <label for="address">Address:</label>
                <input type="text" id="address" placeholder="Suggestion">

                <label for="zip code">Zip Code:</label>
                <input type="text" id="zip" placeholder="Suggestion">

                <label for="city">City:</label>
                <input type="text" id="city" placeholder="Suggestion">

                <label for="phone">Phone #:</label>
                <input type="number" id="phone" placeholder="Suggestion">

                <label for="v_status">Violent Status:</label>
                <select id="violent_status">

                <option value="YES">YES</option> <option value="NO">NO</option> </select>

                <label for="p_status">Probation Status:</label>
                <select id="probation_status">

                <option value="YES">YES</option> <option value="NO">NO</option> </select>

                <button type="button" class="more-crimes-button">+More Crimes</button>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>